.helpbox {
    border: 5px outset blue;
    border-color: blueviolet;
    border-radius: 3px;
    border-width: thin;
    float: left;
    width: 82%;
    min-width: 400px;
    position: relative;
    left: 13.25%;
    overflow: hidden;
    min-height: 60px;
    box-shadow: 3px 0px 2px #AEC1C6;
    margin-left: 20px;
    cursor: pointer;
}

.helpbox:hover {
    transition: .25s ease;
    background-color: rgb(0, 15, 45);
    border-color: rgb(200, 75, 30);
}

.helpbox:active {
    box-shadow: 3px 0px 1px #AEC1C6, inset 1px 1px 3px black;
    background-color: rgba(0, 18, 54, .5);
    border-color: rgb(255, 100, 50);
}

.helpbox .dropDownIcon {
    max-width: 100%;
    height: auto;
    position: absolute;
    top: 15px;
    right: 15px;
    transform: rotate(-90deg);
    transition: transform .2s ease; 
}

.exp-button {
    position: relative;
    float: right;
    right: 3vw;
    top: 10px;
    height: 60px;
    width: 12.5vw;
    font-size: 25px;
    color: #f8bae9;
    background-color: #031013;
    border-style: groove;
    border-color: #040424;
    box-shadow: 0px 1px 1px #030333;
    margin-bottom: 10px;
    margin-left: 25px;
    cursor: pointer;
}

.exp-button:active { /* makes button look pressed */
    transform: translateY(1px) scale(.98);
    filter: saturate(175%);
    border-bottom-width: 1px;
    box-shadow: 0px 0px 0px rgba(0, 0, 0, 0);
}

.exp-button:hover {
    transition: .2s ease;
    background-color: rgb(0, 20, 60);
    color: #f89aA9;
}

.downDropDownIcon {
    /* look, I need a way to detect if each icon is rotated or not, 
    so i just toggle this class every time I change the rotation of the drop down icon. 
    i dont know how else to do it please help. this does nothing except being detected in jquery */
}