#log {
    color: black;
    position: relative;
    left: 180px;
    top: 0px;
    background-color: white;
    border: 3px solid black;
    height: 100%;
}

#log th {
    position: relative;
}

#log, #log th, #log td {
    border: 3px solid black;
    border-collapse: collapse;
    text-align: center;
}

#log td {
    padding-left: 5px;
    padding-right: 5px;
}