{% load static %}
<!DOCTYPE:html>
<html>
<head>
	<title>{% block title %}NGC0000{% endblock %}</title>
	{% block head %}{% endblock %}
	{% load static %}
    <script type="text/javascript" src="{% static 'jquery-3.6.0.js' %}"></script>
</head>
	<body>
		<link rel="stylesheet" type="text/css" href="{% static 'ducky/base.css' %}">
		<div id="sidebar">
			<a href="." class="docstitle">Snowbot<br>Documentation</a>
			<a href="administration">Admin</a>
			<a href="automod">Automod</a>
			<a href="bot">Bot</a>
			<a href="conversion">Conversion</a>
			<a href="files">Files</a>
			<a href="info">Info</a>
			<a href="logging">Logging</a>
			<a href="moderation">Moderation</a>
			<a href="roles">Roles</a>
			<a href="server">Server</a>
			<a href="stats">Stats</a>
			<a href="time">Time</a>
			<a href="tracking">Tracking</a>
			<a href="users">Users</a>
			<a href="utils">Utilities</a>
			<a href="warn">Warns</a>
			{% if user_json is not None %}
				<!-- <a href="server_select">Config</a> -->
			{% endif %}
		</div>
	    {% if user_json is not None %}
       		<img src="https://cdn.discordapp.com/avatars/{{user_json.id}}/{{user_json.avatar}}.webp?size=1024" class="avatar">
       		<div id="userinfo">
				<h3>{{ user_json.username }}#{{ user_json.discriminator }}</h3>
				<button>
					<img src="{% static 'ducky/logout.png' %}">
					<h3>Log out</h3>
				</button>
			</div>
			<script>
				$(".avatar").on('click', function() {
					if ($("#userinfo").css("width").includes("0px")) {
						$("#userinfo").animate({
							width: ['199px', 'swing'],
							height: ['100px', 'swing']}, 
							{duration: 125, easing: "swing" });
						$("#userinfo h3").animate({
							fontSize: "16px"},
							{duration: 130});
						$("#userinfo button").css({
							display: "block"})
						}
					else {
						$("#userinfo").animate({
							width: ['0px', 'swing'],
							height: ['0px', 'swing']}, 
							{duration: 125, easing: "swing" });
						$("#userinfo h3").animate({
							fontSize: "0px"},
							{duration: 130});
						$("#userinfo button").css({
							display: "none"})
					}
				})
			</script>
   		{% endif %}
		{% block body %}<h1>No body</h1>{% endblock %}
		{% if user_json is None %}
			<button id="LogIn">Log In</button>	
		<script>
        	$('#LogIn').on('click', function() {
        		window.location.replace("https://discord.com/api/oauth2/authorize?client_id=782494294820257804&redirect_uri=http%3A%2F%2Flocalhost%3A8000&response_type=code&scope=identify%20guilds")
       		});
       		$('#userinfo button').on('click', function() {
       			$.ajax({
        		type: "POST",
        		url: '/log_out',
        		async: false,
				data: {csrfmiddlewaretoken: '{{ csrf_token }}'}
        		});
        		window.location.reload();
       		});
		</script>
		{% endif %}
	</body>
</h1>