{% extends 'ducky/base.html' %}
{% block head %}
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'ducky/home.css' %}">
{% endblock %}
{% block body %}
<h1>Home Page</h1>
<h2 class="description">Hello! I'm Snowbot, and I specialize in tracking and moderation.
I was designed to collect all sorts of data on servers, users,
messages, emojis, online time, and more! I also come with a fast
and clean moderation system that offers every opportunity for effective
server management. Apart from moderation and tracking, I feature 179
commands across 12 categories that provide awesome utilities!
Some examples include managing user timezones, role management, and logging.</h2>
<hr>
<div id='memberCounter' class="counter"></div>
<hr>
<div id='serverCounter' class="counter"></div>
<hr>
<div id='commandCounter' class="counter"></div>
<hr>
<div id='messageCounter' class="counter"></div>

<script>
function Counter(selector, settings){
  this.settings = Object.assign({
    digits: 5,
    delay: 250, // ms
    direction: ''  // ltr is default
  }, settings||{})
  
  var scopeElm = document.querySelector(selector)
  
  // generate digits markup
  var digitsHTML = Array(this.settings.digits + 1).join('<div><b data-value="0"></b></div>')
  scopeElm.innerHTML = digitsHTML;

  this.DOM = {
    scope : scopeElm,
    digits : scopeElm.querySelectorAll('b')
  }
  
  this.DOM.scope.addEventListener('transitionend', e => {
    if (e.pseudoElement === "::before" && e.propertyName == 'margin-top'){
      e.target.classList.remove('blur')
    }
  })
  
  this.count()
}

Counter.prototype.count = function(newVal){
  var countTo, className, 
      settings = this.settings,
      digitsElms = this.DOM.digits;
  
  // update instance's value
  this.value = newVal || this.DOM.scope.dataset.value|0

  if( !this.value ) return;
  
  // convert value into an array of numbers
  countTo = (this.value+'').split('')
  
  if(settings.direction == 'rtl'){
    countTo = countTo.reverse()
    digitsElms = [].slice.call(digitsElms).reverse()
  }
  
  // loop on each number element and change it
  digitsElms.forEach(function(item, i){ 
      if( +item.dataset.value != countTo[i]  &&  countTo[i] >= 0 )
        setTimeout(function(j){
            var diff = Math.abs(countTo[j] - +item.dataset.value);
            item.dataset.value = countTo[j]
            if( diff > 3 )
              item.className = 'blur';
        }, i * settings.delay, i)
  })
}


/////////////// create new counter for this demo ///////////////////////

var memberCounter = new Counter('#memberCounter', {direction:'rtl', delay:200, digits:7})
var serverCounter = new Counter('#serverCounter', {direction:'rtl', delay:200, digits:7})
var commandCounter = new Counter('#commandCounter', {direction:'rtl', delay:200, digits:7})
var messageCounter = new Counter('#messageCounter', {direction:'rtl', delay:200, digits:7})

update();
setInterval(update, 3000);

function update(){
	var data = {'csrfmiddlewaretoken': '{{ csrf_token }}'};
  	$.post("/live_stats", data, function(recieved){
  		var json = $.parseJSON(recieved);
  		memberCounter.count(json.members);
  		serverCounter.count(json.servers);
  		commandCounter.count(json.commands);
  		messageCounter.count(json.messages);
	});
}
</script>
{% endblock %}